@font-face {
    font-family: Hanna;
    src: url("../font/BMHANNAAir_otf.otf");
}

* {
    box-sizing: border-box;  /* border의 길이도 포함해서 사이즈 계산 */  /* 중요 */
}

body {
    text-align: center;
    background-color: lightsteelblue;
}

h1 {
    /* 폰트 사이즈 설정 */
    font-size: 64px;

    /* 폰트 굵기 설정 */ /* normal = 400, bold = 700 */
    font-weight: 700; 
    font-family: 'Goblin One', cursive;
}

h2 {
    color: gray;

    /* 텍스트에 밑줄 긋기 (윗줄은 overline) */
    text-decoration: underline;
}

h3 {
    color: #F1948A;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    /* link의 밑줄 제거 (기본값 none으로 설정) */
    text-decoration: none;
    font-family: "Hanna", cursive;
    font-size: 32px;

    
}

#p1 {
    border: 5px solid blue;
    padding: 10px 60px 10px 60px; /* 상 우 하 좌 */
    margin: 70px 50px 50px 50px;
    width: 500px;  /* 가로 길이 */
    border-radius: 50px;  /* border를 둥글게 */
    background-color: cyan;

    /* 요소를 가운데 정렬 */
    margin-left: auto;  
    margin-right: auto;
  }

  #p2 {
    /* 테두리 점선 */ /* 파선 : dashed */
    border: 2px dotted blueviolet;
    margin: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px 10px gray;  /* 가로, 세로, 흐림도, 크기, 특정색. 의 그림자 넣기 */
  }