@font-face {
    font-family: Hanna;
    src: url("../font/BMHANNAAir_otf.otf");
}

body {
    text-align: center;
}

h1 {
    /* 폰트 사이즈 설정 */
    font-size: 64px;

    /* 폰트 굵기 설정 */ /* normal = 400, bold = 700 */
    font-weight: 700; 
    font-family: 'Goblin One', cursive;
}

h2 {
    color: gray;

    /* 텍스트에 밑줄 긋기 (윗줄은 overline) */
    text-decoration: underline;
}

h3 {
    color: #F1948A;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    /* link의 밑줄 제거 (기본값 none으로 설정) */
    text-decoration: none;
    font-family: "Hanna", cursive;
    font-size: 32px;

    
}

#p1 {
    border: 1px solid blue;
    padding: 10px 60px 10px 60px; /* 상 우 하 좌 */
    margin: 70px 50px 50px 50px;
    width: 500px;  /* 가로 길이 */

    /* 요소를 가운데 정렬 */
    margin-left: auto;  
    margin-right: auto;
  }

  #p2 {
    /* 테두리 점선 */
    border: 2px dotted blueviolet;
    margin: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }