* {
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    color: #58595B;
    text-align: center;
    font-weight: 100;
  }

body {
    background-color: #F0E8D9;
  }

/*
i {
    display: block;  인라인 요소를 블록으로 변경하기
}
*/

h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 75px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 32px;
    color:#58595B;
    margin-bottom: 75px;
}

h3 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: left;
}

#pay {
    text-decoration: none;
    font-size: 16px;
    color: #0000EE;
}

#photo {
    width: 300px;
    height: 200px;
}

#menu {
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 50px;
}

#menu #info{
    padding: 20px;
}



