/* 간결화한 CSS 코드 */
h2 {
    padding: 20px;
    font-size: 30px;
}

.box-odd h2{ 
    font-size: 30px;
    padding: 20px;
    background: #FA987D;
  }
  
.box-even h2 {
    font-size: 30px;
    padding: 20px;
    background: #72CCA7;
  }