* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;    
    border-style: none;
    border-radius: 5px;
  }
  
  body {
    margin: 0;
    background-color: #1BBC9B;
  }
  
  .login-form {
    background-color: #EEEFF1;
    width: 300px;
    padding: 20px;
    display: block;
    margin: 50px auto auto auto;
  }
  
  .text-field {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    color: #9b9b9b;
    width: 100%;
  }
  
  .submit-btn {
    background-color: #1BBC9B;
    font-size: 14px;
    padding: 10px;
    margin: auto auto 20px auto;
    width: 100%;
    color: white;
  }

  .submit-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  }
  
  .links {
    text-decoration: none;
  }
  
  .links a {
    color: #9B9B9B;
    font-size: 12px;
  }